0{outline: 1px solid #770;}
.separator{outline: 0;}
/* icones fa
 * FB : facebook-f
 * TW : twitter
 * YT : youtube
 */
/* colors
 * dark-grey : #202326
 * white : #FEFEFE
 * blue : #428BCA
 */

/*pour les inclinaisons, utliser : skew
   ex > transform: skewX(15deg);
   ex > transform: skewX(15deg) skewY(15deg);*/

/* =====================================================
    BASE
   ===================================================== */

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    background-color: #fefefe;
    font-family: 'district_prothin';
}

section {
    padding: 175px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'baron_neueregular';
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

/* [ style des paragraphes] */
p {
    font-size: 1.7em;
    margin: 0;
}

.dark-bloc p {
    text-align: center;
}

.book-description p {
    margin: 8px 0;
    font-size: 1.4em;
}

/* [ /style des paragraphes] */
.dark-bloc {
    color: #fefefe;
    background-color: #202326;
}
.shine-bloc {
    color: #202326;
    background-color: #fefefe;
}

/* =====================================================
    HEADER
   ===================================================== */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#logo {
    width: 222px;
    height: 224px;
    background-image: url(../images/logo.png);
}

#arrow-down {
    display: block;
    width: 22px;
    height: 15px;
    filter: invert(100%);
    background-image: url(../images/chevron-down.png);
}

/* =====================================================
    ILLUSTRATIONS
   ===================================================== */

.illustration {
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
}

#bg1 {
    background-image: url(../images/bg.gif);
    background-position: center -255px;
}

#bg2 {
    background-image: url(../images/bg2.jpg);
    height: 100vh;
}

#bg3 {
    background-image: url(../images/bg3.gif);
    height: 800px;
}

.book {
    position: relative;
    background-color: #202326;
}

.book img {
    position: relative;
    right: 15px;
    bottom: 15px;
}

/* =====================================================
    ELEMENTS
   ===================================================== */

.social-icons {
    margin-top: 85px;
    text-align: center;
}

.separator {
    width: 175px;
    height: 4px;
    margin: 25px 0 120px 0;
    background-color: #202326;
}

.dark-bloc .separator {
    background-color: #fefefe;
}

button {
    height: 60px;
    margin: 15px 30px 15px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #fefefe;
    border: 3px solid #202326;
}

button:hover {
    color: #fefefe;
    background-color: #202326;
}

.btn-blog { /* capitalize pour ce bouton uniquement */
    text-transform: capitalize;
}

/* --- section presentation des livres */
.book-bloc {
    margin: 100px 0;
}

/* --- blog + contact */
.box {
    position: relative;
    height: 400px;
    padding: 30px!important;
    border: 6px solid #202326;
}

.box h2 {
    font-size: 1.3em;
    margin-bottom: 50px;
}

.box p {
    height: 200px;
    font-size: 1.2em;
    overflow: hidden;
}

.contact .box p { /* > p dans la section contact */
    height: auto;
}

.contact .box {
    margin-bottom: 50px;
}

.box a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #202326;
    font-family: 'baron_neueregular';
}

.btn-blog {
    margin-top: 60px;
}

.crow {
    margin: 60px 0;
    text-align: center;
}

.crow h2 {
    margin-top: 60px;
    font-size: 3.4em;
}

.crow a {
    font-size: 3.4em;
    color: #202326;
}

.crow-line {
    position: relative;
    bottom: 45px;
    width: 33%;
    height: 6px;
    margin: 0 auto;
    background-color: #202326;
    z-index: -1;
}

.mail {
    font-weight: 700;
}

.social {
    margin-top: 125px;
    text-align: center;
}

.social button {
    width: 90%;
    margin: 0 auto;
}

/* --- team */
.team img {
    width: 400px;
    height: 400px;
    margin: 0 auto 75px auto;
    text-align: center;
}

.member p:last-child {
    font-size: 1.4em;
    margin-top: 60px;
    margin-bottom: 220px;
}

/* =====================================================
    BLOCS DE BIAIS
   ===================================================== */

section {
    position: relative !important;
}

[class*="biais-"] {
    position: relative;
    height: 150px;
    /*outline: 1px solid orange;*/
    z-index: 2;
}

[class*="-rotate-right"] {
    transform: skewY(3deg);
    top: 300px;
}

[class*="-rotate-left"] {
    transform: skewY(-3deg);
    bottom: 270px;   
}

#bg2 [class*="-rotate-right"] {
    top: 550px;
}

#bg3 [class*="-rotate-right"] {
    top: 400px;
}

/* =====================================================
    IMPORTANS!
   ===================================================== */

.p0-30 {
    padding: 0 30px !important;
}

.credit {
    margin-top: 145px;
    color: #202326;
}