0{outline: 1px solid #770;}
.separator{outline: 0;}
/* icones fa
 * FB : facebook-f
 * TW : twitter
 * YT : youtube
 */
/* colors
 * dark-grey : #202326
 * white : #FEFEFE
 * blue : #428BCA
 */

/* =====================================================
    BASE
   ===================================================== */

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    background-color: #fefefe;
    font-family: 'district_prothin';
}

section {
    padding: 175px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'baron_neueregular';
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

/* [ style des paragraphes] */
p {
    font-size: 1.7em;
    margin: 0;
}

.dark-bloc p {
    text-align: center;
}

.book-description p {
    margin: 8px 0;
    font-size: 1.4em;
}

/* [ /style des paragraphes] */

.dark-bloc {
    color: #fefefe;
    background-color: #202326;
}
.shine-bloc {
    color: #202326;
    background-color: #fefefe;
}

/* =====================================================
    HEADER
   ===================================================== */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#logo {
    width: 222px;
    height: 224px;
    background-image: url(../images/logo.png);
}

#arrow-down {
    display: block;
    width: 22px;
    height: 15px;
    filter: invert(100%);
    background-image: url(../images/chevron-down.png);
}

/* =====================================================
    ILLUSTRATIONS
   ===================================================== */

.illustration {
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
}

#bg1 {
    background-image: url(../images/bg.gif);
    background-position: center -255px;
}

#bg2 {
    background-image: url(../images/bg2.jpg);
}

#bg3 {
    background-image: url(../images/bg3.gif);
}

.book {
    position: relative;
    background-color: #202326;
}

.book img {
    position: relative;
    right: 15px;
    bottom: 15px;
}

/* =====================================================
    ELEMENTS
   ===================================================== */

.social-icons {
    margin-top: 85px;
    text-align: center;
}

.separator {
    width: 175px;
    height: 4px;
    margin: 25px 0 120px 0;
    background-color: #202326;
}

button {
    height: 60px;
    margin: 15px 30px 15px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #fefefe;
    border: 3px solid #202326;
}

button:hover {
    color: #fefefe;
    background-color: #202326;
}

.book-bloc {
    margin: 100px 0;
}